TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=

APP_ID=
ORGANIZATION=
CERT_ROUTE=
CERT_PASSWORD=

SIGNPOINT_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=

SQLSERVER_SERVER=
SQLSERVER_DATABASE=
SQLSERVER_USER=
SQLSERVER_PASSWORD=