.env
venv/
backend/src/__pycache__
backend/src/nohup.out
__pycache__/*
backend/src/tokenGmail.json
.vscode/
build/
*.exe
backend-dotnet/
node_modules/
dist/
*.log
*.bak
*.tmp
*.swp
.DS_Store
.idea/
*.iml
*.sln
*.csproj
*.user
*.suo